aniso8601
certifi
cffi
charset-normalizer
click
cryptography
Flask
Flask-Cors
Flask-RESTful
idna
itsdangerous
Jinja2
MarkupSafe
peewee
psycopg2
pycparser
pyOpenSSL
python-dotenv
pytz
requests
selenium
six
tqdm
urllib3
webdriver-manager
Werkzeug
xmltodict
